@import './base.css';

#app {
  max-width: 1880px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsla(30.6, 83.2%, 54.1%, 1);
  transition: 0.4s;
  padding: 3px;

  @media (hover: hover) {
    &:hover {
      background-color: hsla(30.6, 83.2%, 90%, 0.3);
    }
  }
}
.css-base-element-blocks {
  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      p {
        margin: 0;
        color: var(--color-text-secondary);
      }
      strong {
        font-weight: bold;
        color: var(--color-text-orange);
        font-size: clamp(0.8rem, 5vw, 1.2rem);
      }
      pre {
        overflow-x: scroll;
        padding: 0.5rem 1.5rem;
        background-color: hsla(30.6, 83.2%, 90%, 0.3);
        border-radius: 0.5rem;
        font-size: clamp(0.5rem, 5vw, 0.8rem);
      }
    }
  }
}
