@import './base.css';

#app {
  max-width: 1800px;
  margin: 0 auto;
  font-weight: 300;
}

h1 {
  font-size: 2.4rem;
}
a {
  text-decoration: none;
  color: hsla(30.6, 83.2%, 54.1%, 1);
  transition: 0.4s;
  padding: 3px;

  @media (hover: hover) {
    &:hover {
      background-color: hsla(30.6, 83.2%, 90%, 0.3);
    }
  }
}
